<form class="addForm" #itemForm="ngForm" (ngSubmit)="addItem(itemForm)">
  <label for="">ID:</label>
  <input type="text" ngModel name="id" />
  <label for="">Product Name:</label>
  <input type="text" ngModel name="product" />
  <label for="">Price:</label>
  <input type="text" ngModel name="price" />
  <label for="">Quantity</label>
  <input type="text" ngModel name="quantity" />
  <button class="addBtn">Add Item</button>
</form>

<p>{{ cart }}</p>
<div *ngFor="let item of cartItems">
  <p>
    ID:
    {{ item.id }}
  </p>
  <p>Product: {{ item.product }}</p>
  <p>Price: {{ item.price | currency }}</p>
  <p>Quantity: {{ item.quantity }}</p>
  <button class="deleteBtn" (click)="deleteItem(item.id)">X</button>
</div>
